.contact {
    background-image: linear-gradient(to bottom, $mainDarkBlue, $mainblue);
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 200;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    &--footer {
        
        @mixin atMedium {
            display: block;
        }

        @mixin atLarge {
            height: 10px;
        }
    }

    &--inline {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 20px;
        padding-right: 10px;
    }


    &--Icon {
        height: 25px;
        width: 25px;
        padding-left: 10px;
        padding-right: 30px;
    
    }
    
    &--Icon:hover {
        box-shadow: 0 10px 10px #ffffff;
        padding: 8px;
        background-color: white;
        opacity: .7;
        border-radius: 10px;
    }


    @mixin atMedium {
        padding-top: 60px;
        padding-left: 40px;
        padding-right: 40px;
        height: 200px;

       
    }

    @mixin atLarge {
        height: 200px;
    }

}