.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    &--text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 1.5rem;
        
        
        @mixin atSmaller {
            font-size: 1.1rem;
            font-weight: 300;
        }

        @mixin atSmall {
            font-size: 1.2rem;
        }

        @mixin atMedium {
            font-size: 1.4rem;
            line-height: 1.9rem;
        }

        @mixin atLarge {
            font-size: 1.5rem;
            line-height: 2rem;
        }

    }

    &--margin {
        padding-top:70px;
        padding-left: 15px;
        padding-right: 15px;

        @mixin atSmaller {
            padding-top:70px;
        }
        
        @mixin atSmall {
           padding-top:90px;
        }

        @mixin atMedium {
           padding-top:110px;
        }

        @mixin atLarge {
           padding-top:70px;
           padding-left: 50px;
           padding-right: 50px;
        }
    }

    &--background {
        height: 420px;

        @mixin atSmaller {
            height: 400px;
        }

       
       @mixin atLarge {
           height: 350px;
       }

    }

    &--alignLeft {
        display: block;
        text-align: left;
    
    }

    &--alignRight {
        text-align: right;
    }


}
