ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  border-bottom: 1px solid white;
}

.content {
     padding: 16px;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
     text-decoration: none;
     color: white;
}

.sticky {
     position: fixed;
     top:0;
     width: 100%;
}

.sticky + .content {
     padding-top: 16px;
}


.headline {

     z-index: 1;

     &--resumeIcon {
         height: 2px;
         width: 2px;
         padding-right: 40px;

         @mixin atMedium {
              display: none;
         }

         @mixin atLarge {
              display: none;
         }
          
     }

     &--nameFont {
          font-size: 1.5rem;
          font-family: 'Sacramento', cursive;
     }

     &--resumeFont {
          font-family:'Montserrat', sans-serif;
          font-size: 1.1rem;
          display: none;
     }

     @mixin atMedium {

          &--resumeFont {
               display: block;
          }
          
     }

     @mixin atLarge {

          &--resumeFont {
               display: block;
          }
          
     }

}
