.portfolio {
    cursor: pointer;
    padding: 30px;

        @mixin atMedium {
            height: 400px;
            padding: 20px;

        &__thumbnails {
            padding: 50px;
            opacity: 0.9;
            transition: .5s;

        }

        &__thumbnails:hover {
        box-shadow: 0 0 5px #72A985; 
        transform: scale(1.2);
        }
    }
}