.portfolio {
    height: 500px;
    cursor: pointer;
    padding-top: 50px;
    
    &__thumbnails {
        padding: 10px;
    }
    

    @mixin atMedium {
        height: 310px;
        padding: 20px;

    &__thumbnails {
        padding: 50px;
        opacity: 0.9;
        transition: .5s;

        }

    &__thumbnails:hover {
        box-shadow: 0 0 5px #72A985; 
        transform: scale(1.2);
        }
    }
     @mixin atLarge {
        height: 310px;
        padding: 50px;
    }

    
}