.portfolio {
    height: 640px;
    cursor: pointer;
    padding-top: 50px;
    background-color: white;
    
    &__thumbnails {
        padding: 10px;
    }

    &--description {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    &--projectType {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 0.8rem;
    }

    @mixin atSmall {
        height: 300px;
        padding-top: 40px;
        padding-bottom: 30px;
    }


    @mixin atMedium {
        height: 280px;
        padding-top: 20px;
        padding-bottom: 30px;
       

    &__thumbnails {
        padding: 30px;
        opacity: 0.9;
        transition: .5s;

        }

    &__thumbnails:hover {
        padding:0;
        box-shadow: 0 0 5px #72A985; 
        transform: scale(1.2);
        }
    }
     @mixin atLarge {
        height: 310px;
        padding: 50px;
    }

    
}