.skill-logo {
    height: 50px;  
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;

    @mixin atMedium {
        padding-left: 30px;
        padding-right: 30px;
    }

    &--ratings {
        display: flex;
        padding-right: 30px;
        font-family: 'Montserrat', sans-serif;


    }

    &--title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400    ;
        text-align: center;

    }

    &--container {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    &--Centered {
        height: 50px;  
        padding-top: 5px;
        padding-bottom: 10px;
        
    }

    &--Centered:hover {
        padding: 0;
        border-radius: 50%;
        box-shadow: 0 0 10px #ffffff; 
        transition: .7s ease-out;
        
    }

    &__percentage {
        text-align: center;
        font-family: 'Montserrat', sans-serif;

        @mixin atMedium {
            padding-top: 0;
        }
    }   
}

.skill-logo:hover {
        padding: 0;
        border-radius: 50%;
        box-shadow: 0 0 10px #ffffff; 
        transition: .7s ease-out;
}