.skill-set {
    background-image: linear-gradient(to bottom, $mainDarkBlue, $mainblue);
    color: white;
    font-family: 'Spectral SC', serif;
    height: 700px;
    padding-top: 40px;

    @mixin atSmaller {
        height: 650px;
    }
    @mixin atSmall {
        height: 360px;
    }
    
    @mixin atMedium {
        height: 370px;
    }

    @mixin atLarge {
        height: 385px;
    }


}