.skill-set {
    background-color: black;
    color: white;
    font-family: 'Spectral SC', serif;
    height: 700px;
    padding-top: 40px;

    @mixin atSmaller {
        height: 900px;
    }
    @mixin atSmall {
        height: 550px;
    }
    
    @mixin atMedium {
        height: 450px;
    }

    @mixin atLarge {
        height: 400px;
    }


}