.skill-logo {
    height: 50px;  
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 50px;
    display: block;

    &--ratings {
        display: flex;
        padding-right: 30px;
        font-family: 'Montserrat', sans-serif;


    }

    &--title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400    ;
        text-align: center;

    }

    &--titleRow {
        display: flex;
        padding-left: 20px;
        text-align: center;

    }

    

    @mixin atLarge {
        padding: 50px 40px 30px 40px;
    }


     
}