.skill-set {
    background-image: linear-gradient(to right, $mainGreen, $mainDarkerGreen);
    color: white;
    font-family: 'Spectral SC', serif;
    height: 700px;
    padding-top: 40px;
    
    
    @mixin atMedium {
        height: 340px;
    }

    @mixin atLarge {
        height: 340px;
    }


}